<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/common_part/case_detail.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/common_part/header_footer.css') }}" />
  </head>
  <body>
    <div class="case case-wrapper">
      <div class="div">
        <div class="overlap-group">
          <div class="h"><div class="text-wrapper">этапы разработки проекта</div></div>
          <div class="overlap">
            <div class="div-wrapper"><div class="text-wrapper-2">Задача</div></div>
            <div class="view">
              <p class="p">
                Задача сайта жилого квартала – повысить лояльность потенциальных покупателей и получить заявки в отдел
                продаж. Важно было показать ценность ЖК STARK для потенциальных покупателей, которая оправдывает высокую
                стоимость квадратного метра.
              </p>
            </div>
          </div>
          <div class="overlap-2">
            <div class="div-wrapper-2"><div class="text-wrapper-3">Результат</div></div>
            <div class="view-2">
              <p class="p">
                Мы создали сайт, который помогает клиентам легко выбрать квартиру и принять решение, улучшающее качество
                их жизни. Благодаря сайту пользователи могут представить, как изменится их жизнь в новом квартале.
              </p>
            </div>
          </div>
          <div class="overlap-3">
            <div class="div-wrapper-2"><div class="text-wrapper-3">Решение</div></div>
            <div class="view-2">
              <p class="p">
                Мы отошли от привычной строгости и создали насыщенный, динамичный сайт, который выделяется среди
                однообразных монохромных решений, свойственных ЖК бизнес-класса. При этом сайт не перестал быть удобным:
                четкая навигация и крупные блоки позволяют легко находить нужную информацию, сохраняя ощущение
                премиальности.
              </p>
            </div>
          </div>
        </div>
        <div class="overlap-4">
          <div class="line-wrapper"><img class="line" src="https://c.animaapp.com/LEpJzhag/img/line-2.png" /></div>
          <div class="h-2"><p class="text-wrapper-4">Смелый дизайн для сайта ЖК STARK</p></div>
        </div>
        <img class="image" src="https://c.animaapp.com/LEpJzhag/img/---------------------2.png" />
        <img class="img" src="https://c.animaapp.com/LEpJzhag/img/---------------------2.png" />
        <img class="image-2" src="https://c.animaapp.com/LEpJzhag/img/---------------------2.png" />
        <div class="overlap-5">
          <div class="overlap-6">
            <div class="image-wrapper"><img class="image-3" src="https://c.animaapp.com/LEpJzhag/img/image.png" /></div>
            <div class="img-wrapper"><img class="image-3" src="https://c.animaapp.com/LEpJzhag/img/image-1.png" /></div>
            <div class="image-wrapper">
              <img class="image-3" src="https://c.animaapp.com/LEpJzhag/img/image-5.png" />
            </div>
          </div>
          <div class="div-wrapper-2">
            <p class="text-wrapper-5">
              Нам необходимо было создать сайт, который поможет клиентам понять, что перед ними не просто квадратные
              метры, а возможность повысить комфорт своей жизни.
            </p>
          </div>
          <div class="element-wrapper">
            <p class="element">
              <span class="span">Клиент:</span>
              <span class="text-wrapper-6"> Застройщик ООО «СЗ «Атлант-ДВ», ГК «ОСТОВ»<br /></span>
              <span class="span">Бюджет:</span>
              <span class="text-wrapper-6"> 2 000 000 р<br /></span>
              <span class="span">Тип сайта:</span>
              <span class="text-wrapper-6"> Корпоративный сайт<br /></span>
              <span class="span">Сдано:</span>
              <span class="text-wrapper-6"> Март 2024</span>
            </p>
          </div>
          <div class="view-3">
            <p class="text-wrapper-7">
              ЖК STARK выделяется на рынке недвижимости Владивостока продуманным проектом благоустройства, расположением
              в развивающемся районе города и пешей доступностью до основных объектов инфраструктуры.
            </p>
          </div>
          <p class="text-wrapper-8">Это нам предстояло отобразить на сайте квартала.</p>
        </div>
        <div class="view-4"><img class="image-4" src="https://c.animaapp.com/LEpJzhag/img/image-2.png" /></div>
        <div class="view-5"><img class="image-5" src="https://c.animaapp.com/LEpJzhag/img/image-3.png" /></div>
        <div class="view-6"><img class="image-5" src="https://c.animaapp.com/LEpJzhag/img/image-4.png" /></div>
        <div class="h-3"><div class="text-wrapper-9">Кто принимал участие</div></div>
        <p class="text-wrapper-10">
          ЖК STARK выделяется на рынке недвижимости Владивостока продуманным проектом благоустройства, расположением в
          развивающемся районе города и пешей доступностью до основных объектов инфраструктуры. Это нам предстояло
          отобразить на сайте квартала. Мы добавили карты и информацию о расположении квартала, указали расстояния до
          ключевых объектов инфраструктуры и отразили реализацию концепции 15-минутного города.
        </p>
        <p class="text-wrapper-11">
          После запуска презентационного сайта мы приступили к разработке системы выбора квартир, келлеров, машино-мест
          и коммерции.<br /><br />Система включает в себя выбор квартир визуально и по параметрам. Мы постарались
          сделать карточку квартиры максимально информативной, чтобы человек мог увидеть всё сразу: от положения дома в
          квартале до действующих акций. Это позволяет пользователю, не покидая карточку, получить ответы на все
          ключевые вопросы. В результате карточка квартиры работает как самостоятельный продающий лендинг, который можно
          отправить друзьям или членам семьи.
        </p>
        <p class="text-wrapper-12">
          Чтобы продемонстрировать современное архитектурное решение квартала, в систему будет интегрирован облёт
          комплекса, дневной и ночной вид башен.
        </p>
        <div class="view-wrapper">
          <div class="view-7">
            <img class="logo" src="https://c.animaapp.com/LEpJzhag/img/logo-2@2x.png" />
            <div class="view-8">
              <div class="view-9"><div class="text-wrapper-13">Проекты</div></div>
              <div class="view-10"><div class="text-wrapper-14">Работники</div></div>
              <div class="FAQ"><div class="text-wrapper-15">FAQ</div></div>
            </div>
            <div class="view-11"><div class="text-wrapper-16">Вход</div></div>
          </div>
        </div>
        <footer class="footer">
          <div class="feedback">
            <div class="top">
              <div class="intro">
                <div class="text-wrapper-17">ОБРАТНАЯ СВЯЗЬ</div>
                <p class="div-2">
                  <span class="text-wrapper-18">Есть вопросы?</span>
                  <span class="text-wrapper-19"> Запишитесь на консультацию!</span>
                </p>
              </div>
              <div class="group">
                <div class="field"><div class="text-wrapper-20">ВАШЕ ИМЯ</div></div>
                <div class="field-2"><div class="text-wrapper-20">НОМЕР ТЕЛЕФОНА</div></div>
              </div>
              <div class="auto-layout"><div class="text-wrapper-21">Отправить запрос</div></div>
            </div>
            <div class="text-wrapper-22">Приватность</div>
          </div>
          <div class="main">
            <div class="top-2">
              <div class="logo-2">
                <img class="image-6" src="https://c.animaapp.com/LEpJzhag/img/image-30-2@2x.png" />
              </div>
              <div class="top-3">
                <div class="section">
                  <div class="text-wrapper-23">ИНФОРМАЦИЯ</div>
                  <div class="list">
                    <div class="text-wrapper-24">Главная</div>
                    <div class="text-wrapper-25">О нас</div>
                    <div class="text-wrapper-25">Блог</div>
                    <div class="text-wrapper-25">Сервисы</div>
                    <div class="text-wrapper-25">Продукты</div>
                  </div>
                </div>
                <div class="section-2">
                  <div class="text-wrapper-26">СВЯЖИТЕСЬ С НАМИ</div>
                  <div class="list-2">
                    <div class="text-wrapper-27">+7 (977) 777-77-77</div>
                    <div class="text-wrapper-25">hello@logoipsum.com</div>
                    <div class="text-wrapper-25">Россия</div>
                  </div>
                </div>
              </div>
            </div>
            <img class="bottom" src="https://c.animaapp.com/LEpJzhag/img/bottom-2.png" />
          </div>
        </footer>
        <div class="view-12">
          <div class="view-13">
            <div class="view-14">
              <img class="image-7" src="https://c.animaapp.com/LEpJzhag/img/---------------2@2x.png" />
              <img class="image-8" src="https://c.animaapp.com/LEpJzhag/img/-------------------2@2x.png" />
            </div>
            <div class="view-15">
              <div class="view-16">
                <div class="view-17">
                  <div class="view-13">
                    <img class="image-9" src="https://c.animaapp.com/LEpJzhag/img/----@2x.png" />
                  </div>
                </div>
                <div class="view-18">
                  <div class="text-wrapper-28">Анна Смирнова</div>
                  <p class="text-wrapper-29">пытный программист, специализирующийся на разработке веб-приложений</p>
                  <div class="text-wrapper-30">опыт 5 лет</div>
                </div>
              </div>
              <div class="view-19">
                <div class="view-20"><div class="text-wrapper-31">графический дизайнер</div></div>
              </div>
            </div>
          </div>
          <div class="view-13">
            <div class="view-14">
              <img class="image-7" src="https://c.animaapp.com/LEpJzhag/img/---------------2@2x.png" />
              <img class="image-8" src="https://c.animaapp.com/LEpJzhag/img/-------------------2@2x.png" />
            </div>
            <div class="view-21">
              <div class="view-16">
                <div class="view-17">
                  <div class="view-13">
                    <img class="image-9" src="https://c.animaapp.com/LEpJzhag/img/-----1@2x.png" />
                  </div>
                </div>
                <div class="view-18">
                  <div class="text-wrapper-28">Дмитрий Иванов</div>
                  <p class="text-wrapper-29">
                    креативный веб-дизайнер, который создает визуально привлекательные и удобные интерфейсы
                  </p>
                  <div class="text-wrapper-30">опыт 6 лет</div>
                </div>
              </div>
              <div class="view-19">
                <div class="view-20"><div class="text-wrapper-31">Веб-дизайнер</div></div>
              </div>
            </div>
          </div>
          <div class="view-13">
            <div class="view-14">
              <img class="image-7" src="https://c.animaapp.com/LEpJzhag/img/---------------2@2x.png" />
              <img class="image-8" src="https://c.animaapp.com/LEpJzhag/img/-------------------2@2x.png" />
            </div>
            <div class="view-21">
              <div class="view-16">
                <div class="view-17">
                  <div class="view-13">
                    <img class="image-9" src="https://c.animaapp.com/LEpJzhag/img/-----2@2x.png" />
                  </div>
                </div>
                <div class="view-18">
                  <div class="text-wrapper-28">Ольга Петрова</div>
                  <p class="text-wrapper-29">
                    SEO-специалист, который помогает компаниям улучшать видимость их сайтов в поисковых системах
                  </p>
                  <div class="text-wrapper-30">опыт 4 года</div>
                </div>
              </div>
              <div class="view-19">
                <div class="view-20"><div class="text-wrapper-31">SEO-специалист</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="case screen-wrapper">
      <div class="screen">
        <!-- <div class="view-22">
          <div class="softskills"><div class="text-wrapper-32">SOFTSKILLS</div></div>
          <div class="view-23">
            <div class="view-24">
              <div class="text-wrapper-33">Креативность</div>
              <div class="text-wrapper-34">Внимание к деталям</div>
              <div class="text-wrapper-34">Умение работать в команде</div>
              <div class="text-wrapper-34">Стрессоустойчивость</div>
              <div class="text-wrapper-34">Быстрообучаемость</div>
            </div>
          </div>
        </div> -->
        <!-- <div class="view-25">
          <div class="view-26"><div class="text-wrapper-35">Опыт работы</div></div>
          <div class="view-27">
            <div class="view-28">
              <div class="text-wrapper-36">Графический дизайнер</div>
              <div class="text-wrapper-36">OOO”Burning city”</div>
              <p class="text-wrapper-37">Июнь 2016 – Май 2018</p>
            </div>
          </div>
        </div> -->
        <!-- <img class="line-2" src="https://c.animaapp.com/LEpJzhag/img/line-14.png" />
        <div class="overlap-group-2">
          <div class="view-29">
            <div class="view-30">
              <div class="text-wrapper-38">Иванов Иван Иванович</div>
              <div class="text-wrapper-39">Програмист</div>
              <div class="text-wrapper-36">27 лет</div>
            </div>
            <div class="view-31"><img class="image-10" src="https://c.animaapp.com/LEpJzhag/img/image-6.png" /></div>
          </div>
          <div class="view-wrapper">
            <div class="view-7">
              <img class="logo" src="https://c.animaapp.com/LEpJzhag/img/logo-2@2x.png" />
              <div class="view-8">
                <div class="view-9"><div class="text-wrapper-13">Проекты</div></div>
                <div class="view-10"><div class="text-wrapper-14">Работники</div></div>
                <div class="FAQ"><div class="text-wrapper-15">FAQ</div></div>
              </div>
              <div class="view-11"><div class="text-wrapper-16">Вход</div></div>
            </div>
          </div>
        </div> -->
        <!-- <div class="view-32">
          <div class="view-33"><div class="text-wrapper-32">Сертификаты</div></div>
          <div class="view-34">
            <img class="image-11" src="https://c.animaapp.com/LEpJzhag/img/image-7@2x.png" />
            <img class="image-12" src="https://c.animaapp.com/LEpJzhag/img/image-8@2x.png" />
          </div>
        </div>
        <div class="view-35">
          <div class="hardskills"><div class="text-wrapper-40">HARDSKILLS</div></div>
          <div class="view-36">
            <div class="view-37">
              <p class="c"><br />Английский — Свободное владение (C1)</p>
              <p class="text-wrapper-41">Немецкий — Базовый уровень (A2)</p>
              <div class="frame">
                <img class="img-2" src="https://c.animaapp.com/LEpJzhag/img/photoshop@2x.png" />
                <img class="img-2" src="https://c.animaapp.com/LEpJzhag/img/illustrator@2x.png" />
                <img class="figma" src="https://c.animaapp.com/LEpJzhag/img/figma@2x.png" />
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="view-38">
          <div class="view-39">
            <div class="view-40"><div class="text-wrapper-42">ОБРАЗОВАНИЕ</div></div>
            <div class="view-41">
              <div class="view-42">
                <p class="text-wrapper-43"><br />Московский государственный университет имени М.В. Ломоносова</p>
                <div class="text-wrapper-44">2020</div>
                <div class="text-wrapper-36">Факультет журналистики</div>
                <div class="text-wrapper-36">Графический дизайн и медиакоммуникации</div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer-2">
          <div class="feedback">
            <div class="top">
              <div class="intro">
                <div class="text-wrapper-17">ОБРАТНАЯ СВЯЗЬ</div>
                <p class="div-2">
                  <span class="text-wrapper-18">Есть вопросы?</span>
                  <span class="text-wrapper-19"> Запишитесь на консультацию!</span>
                </p>
              </div>
              <div class="group">
                <div class="field"><div class="text-wrapper-20">ВАШЕ ИМЯ</div></div>
                <div class="field-2"><div class="text-wrapper-20">НОМЕР ТЕЛЕФОНА</div></div>
              </div>
              <div class="auto-layout"><div class="text-wrapper-21">Отправить запрос</div></div>
            </div>
            <div class="text-wrapper-22">Приватность</div>
          </div>
          <div class="main">
            <div class="top-2">
              <div class="logo-2">
                <img class="image-6" src="https://c.animaapp.com/LEpJzhag/img/image-30-2@2x.png" />
              </div>
              <div class="top-3">
                <div class="section">
                  <div class="text-wrapper-23">ИНФОРМАЦИЯ</div>
                  <div class="list">
                    <div class="text-wrapper-24">Главная</div>
                    <div class="text-wrapper-25">О нас</div>
                    <div class="text-wrapper-25">Блог</div>
                    <div class="text-wrapper-25">Сервисы</div>
                    <div class="text-wrapper-25">Продукты</div>
                  </div>
                </div>
                <div class="section-2">
                  <div class="text-wrapper-26">СВЯЖИТЕСЬ С НАМИ</div>
                  <div class="list-2">
                    <div class="text-wrapper-27">+7 (977) 777-77-77</div>
                    <div class="text-wrapper-25">hello@logoipsum.com</div>
                    <div class="text-wrapper-25">Россия</div>
                  </div>
                </div>
              </div>
            </div>
            <img class="bottom" src="https://c.animaapp.com/LEpJzhag/img/bottom-2.png" />
          </div>
        </footer>
      </div>
    </div>
    <div class="case cases-wrapper">
      <div class="cases">
        <img class="image-13" src="https://c.animaapp.com/LEpJzhag/img/---------------------5.png" />
        <img class="image-14" src="https://c.animaapp.com/LEpJzhag/img/---------------------5.png" />
        <img class="image-15" src="https://c.animaapp.com/LEpJzhag/img/---------------------5.png" />
        <div class="h-4"><div class="text-wrapper-45">КЕйсы</div></div>
        <div class="overlap-group-3">
          <div class="view-43">
            <div class="view-44">
              <p class="text-wrapper-46">Технические доработки сайта для увеличения конверсии медицинского портала</p>
            </div>
            <div class="view-45">
              <img class="image-16" src="https://c.animaapp.com/LEpJzhag/img/image-9.png" />
              <div class="view-46">
                <div class="subtract-wrapper">
                  <img class="subtract" src="https://c.animaapp.com/LEpJzhag/img/subtract-2@2x.png" />
                </div>
                <img class="image-17" src="https://c.animaapp.com/LEpJzhag/img/-------------2@2x.png" />
              </div>
            </div>
          </div>
          <p class="element-2">
            <span class="span">Клиент:</span>
            <span class="text-wrapper-47"> ООО «БИОСПАС «КАРОЛАГС»<br /></span>
            <span class="span">Бюджет:</span>
            <span class="text-wrapper-47"> 2 700 000 р<br /></span>
            <span class="span">Тип сайта:</span>
            <span class="text-wrapper-47"> Информационный сайт<br /></span>
            <span class="span">Сдано:</span>
            <span class="text-wrapper-47"> Июнь 2023</span>
          </p>
        </div>
        <div class="overlap-7">
          <div class="view-43">
            <div class="view-44">
              <p class="text-wrapper-46">разработка сайта для магазина женской бижутерии «BleskFit» за 3 недели</p>
            </div>
            <div class="view-45">
              <img class="image-16" src="https://c.animaapp.com/LEpJzhag/img/image-10.png" />
              <div class="view-46">
                <div class="subtract-wrapper">
                  <img class="subtract" src="https://c.animaapp.com/LEpJzhag/img/subtract-2@2x.png" />
                </div>
                <div class="view-47"></div>
                <img class="image-17" src="https://c.animaapp.com/LEpJzhag/img/-------------2@2x.png" />
              </div>
            </div>
          </div>
          <p class="element-3">
            <span class="span">Клиент:</span>
            <span class="text-wrapper-47"> ООО «ТЕХНОРМ»<br /></span>
            <span class="span">Бюджет:</span>
            <span class="text-wrapper-47"> 1 750 000 р<br /></span>
            <span class="span">Тип сайта:</span>
            <span class="text-wrapper-47"> Интернет-магазин<br /></span>
            <span class="span">Сдано:</span>
            <span class="text-wrapper-47"> Февраль 2024</span>
          </p>
        </div>
        <div class="view-wrapper">
          <div class="view-7">
            <img class="logo" src="https://c.animaapp.com/LEpJzhag/img/logo-2@2x.png" />
            <div class="view-8">
              <div class="view-9"><div class="text-wrapper-13">Проекты</div></div>
              <div class="view-10"><div class="text-wrapper-14">Работники</div></div>
              <div class="FAQ"><div class="text-wrapper-15">FAQ</div></div>
            </div>
            <div class="view-11"><div class="text-wrapper-16">Вход</div></div>
          </div>
        </div>
        <div class="view-48">
          <div class="view-44">
            <p class="text-wrapper-46">
              Кто сказал, что сайт бизнес-класса не может быть ярким? Смелый дизайн для сайта ЖК STARK
            </p>
          </div>
          <div class="view-45">
            <img class="image-16" src="https://c.animaapp.com/LEpJzhag/img/image-11.png" />
            <div class="view-46">
              <div class="subtract-wrapper">
                <img class="subtract" src="https://c.animaapp.com/LEpJzhag/img/subtract-2@2x.png" />
              </div>
              <div class="view-47">
                <p class="element-4">
                  <span class="span">Клиент:</span>
                  <span class="text-wrapper-47"> Застройщик ООО «СЗ «Атлант-ДВ», ГК «ОСТОВ»<br /></span>
                  <span class="span">Бюджет:</span>
                  <span class="text-wrapper-47"> 2 000 000 р<br /></span>
                  <span class="span">Тип сайта:</span>
                  <span class="text-wrapper-47"> Корпоративный сайт<br /></span>
                  <span class="span">Сдано:</span>
                  <span class="text-wrapper-47"> Март 2024</span>
                </p>
              </div>
              <img class="image-17" src="https://c.animaapp.com/LEpJzhag/img/-------------2@2x.png" />
            </div>
          </div>
        </div>
        <footer class="footer-3">
          <div class="feedback">
            <div class="top">
              <div class="intro">
                <div class="text-wrapper-17">ОБРАТНАЯ СВЯЗЬ</div>
                <p class="div-2">
                  <span class="text-wrapper-18">Есть вопросы?</span>
                  <span class="text-wrapper-19"> Запишитесь на консультацию!</span>
                </p>
              </div>
              <div class="group">
                <div class="field"><div class="text-wrapper-20">ВАШЕ ИМЯ</div></div>
                <div class="field-2"><div class="text-wrapper-20">НОМЕР ТЕЛЕФОНА</div></div>
              </div>
              <div class="auto-layout"><div class="text-wrapper-21">Отправить запрос</div></div>
            </div>
            <div class="text-wrapper-22">Приватность</div>
          </div>
          <div class="main">
            <div class="top-2">
              <div class="logo-2">
                <img class="image-6" src="https://c.animaapp.com/LEpJzhag/img/image-30-2@2x.png" />
              </div>
              <div class="top-3">
                <div class="section">
                  <div class="text-wrapper-23">ИНФОРМАЦИЯ</div>
                  <div class="list">
                    <div class="text-wrapper-24">Главная</div>
                    <div class="text-wrapper-25">О нас</div>
                    <div class="text-wrapper-25">Блог</div>
                    <div class="text-wrapper-25">Сервисы</div>
                    <div class="text-wrapper-25">Продукты</div>
                  </div>
                </div>
                <div class="section-2">
                  <div class="text-wrapper-26">СВЯЖИТЕСЬ С НАМИ</div>
                  <div class="list-2">
                    <div class="text-wrapper-27">+7 (977) 777-77-77</div>
                    <div class="text-wrapper-25">hello@logoipsum.com</div>
                    <div class="text-wrapper-25">Россия</div>
                  </div>
                </div>
              </div>
            </div>
            <img class="bottom" src="https://c.animaapp.com/LEpJzhag/img/bottom-2.png" />
          </div>
        </footer>
      </div> -->
    </div>
  </body>
</html>
