<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/employee_list.css" />
    
  </head>
  <body>
    <div class="screen">
      <div class="view">
        <div class="div">
          <img class="logo" src="https://c.animaapp.com/sRU5GxZu/img/logo.svg" />
          <div class="view-2">
            <div class="div-wrapper"><div class="text-wrapper">Проекты</div></div>
            <div class="view-3"><div class="text-wrapper-2">Работники</div></div>
            <div class="FAQ"><div class="text-wrapper-3">FAQ</div></div>
          </div>
          <div class="view-4"><div class="text-wrapper-4">Вход</div></div>
        </div>
      </div>
      <div class="view-5">
        <div class="element">
          <div class="view-6">
            <div class="view-wrapper">
              <div class="img-wrapper">
                <img class="image" src="https://c.animaapp.com/sRU5GxZu/img/image@2x.png" />
              </div>
            </div>
            <div class="view-7"><img class="img" src="https://c.animaapp.com/sRU5GxZu/img/image-1@2x.png" /></div>
            <div class="view-8"></div>
          </div>
          <div class="frame-wrapper">
            <div class="frame">
              <div class="frame-2">
                <div class="image-wrapper">
                  <img class="image-2" src="https://c.animaapp.com/sRU5GxZu/img/-----------------------.svg" />
                </div>
                <div class="frame-wrapper-2">
                  <div class="frame-3">
                    <div class="text-wrapper-5">Php разработчик</div>
                    <div class="text-wrapper-6">Николай Титов</div>
                    <div class="text-wrapper-6">Стаж: 9 лет</div>
                  </div>
                </div>
              </div>
              <div class="frame-4">
                <p class="p">
                  Николай - опытный программист с большим опытом работы в области разработки мобильных приложений. Он
                  обладает широкими знаниями в области программирования и всегда стремится к самосовершенствованию.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="element-2">
          <div class="view-6">
            <div class="view-wrapper">
              <div class="img-wrapper">
                <img class="image" src="https://c.animaapp.com/sRU5GxZu/img/image-2@2x.png" />
              </div>
            </div>
            <div class="view-7"><img class="img" src="https://c.animaapp.com/sRU5GxZu/img/image-3@2x.png" /></div>
            <div class="view-8"></div>
          </div>
          <div class="frame-wrapper">
            <div class="frame">
              <div class="frame-2">
                <div class="image-wrapper">
                  <img class="image-2" src="https://c.animaapp.com/sRU5GxZu/img/------------------------1.svg" />
                </div>
                <div class="frame-wrapper-2">
                  <div class="frame-3">
                    <div class="text-wrapper-5">Программист</div>
                    <div class="text-wrapper-6">Дмитрий Петров</div>
                    <div class="text-wrapper-6">Стаж: 3 года</div>
                  </div>
                </div>
              </div>
              <div class="frame-4">
                <p class="text-wrapper-7">
                  Дмитрий - молодой и талантливый программист, специализирующийся на разработке веб-приложений. Он
                  обладает отличными навыками программирования и уже успел зарекомендовать себя как перспективный
                  специалист.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="view-9"><div class="text-wrapper-8">UI/UX дизайнеры</div></div>
        <div class="text-wrapper-9">Програмисты</div>
        <div class="ui-ux">
          <div class="element-3">
            <div class="view-6">
              <div class="view-wrapper">
                <div class="img-wrapper">
                  <img class="rectangle" src="https://c.animaapp.com/sRU5GxZu/img/rectangle-128.svg" />
                </div>
              </div>
              <div class="view-7">
                <img class="rectangle-2" src="https://c.animaapp.com/sRU5GxZu/img/rectangle-130.svg" />
              </div>
              <div class="view-8"></div>
            </div>
            <div class="frame-wrapper">
              <div class="frame">
                <div class="frame-2">
                  <div class="image-wrapper">
                    <img class="image-2" src="https://c.animaapp.com/sRU5GxZu/img/------------------------2.svg" />
                  </div>
                  <div class="frame-wrapper-2">
                    <div class="frame-3">
                      <div class="text-wrapper-5">Графический дизайнер</div>
                      <div class="text-wrapper-6">Александр Ковалев</div>
                      <div class="text-wrapper-6">Стаж: 8 лет</div>
                    </div>
                  </div>
                </div>
                <div class="frame-4">
                  <p class="p">
                    Александр - опытный дизайнер с большим портфолио успешных проектов. Он специализируется на создании
                    уникальных и креативных пользовательских интерфейсов, которые привлекают внимание и улучшают
                    пользовательский опыт.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="element-3">
            <div class="view-6">
              <div class="view-wrapper">
                <div class="img-wrapper">
                  <img class="image" src="https://c.animaapp.com/sRU5GxZu/img/image-4@2x.png" />
                </div>
              </div>
              <div class="view-7"><img class="img" src="https://c.animaapp.com/sRU5GxZu/img/image-5@2x.png" /></div>
              <div class="view-8"></div>
            </div>
            <div class="frame-wrapper">
              <div class="frame">
                <div class="frame-2">
                  <div class="image-wrapper">
                    <img class="image-2" src="https://c.animaapp.com/sRU5GxZu/img/------------------------3.svg" />
                  </div>
                  <div class="frame-wrapper-2">
                    <div class="frame-3">
                      <div class="text-wrapper-5">Дизайнер</div>
                      <div class="text-wrapper-6">Анна Иванова</div>
                      <div class="text-wrapper-6">Стаж: 6 лет</div>
                    </div>
                  </div>
                </div>
                <div class="frame-4">
                  <p class="p">
                    Анна специализируется на создании пользовательских интерфейсов и опыта пользователей. Она имеет
                    более 5 лет опыта работы в сфере дизайна и уже успела поработать над несколькими успешными
                    проектами.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img class="line" src="https://c.animaapp.com/sRU5GxZu/img/line-4.svg" />
      </div>
      <footer class="footer">
        <div class="feedback">
          <div class="top">
            <div class="intro">
              <div class="text-wrapper-10">ОБРАТНАЯ СВЯЗЬ</div>
              <p class="div-2">
                <span class="span">Есть вопросы?</span>
                <span class="text-wrapper-11"> Запишитесь на консультацию!</span>
              </p>
            </div>
            <div class="group">
              <div class="field"><div class="text-wrapper-12">ВАШЕ ИМЯ</div></div>
              <div class="field-2"><div class="text-wrapper-12">НОМЕР ТЕЛЕФОНА</div></div>
            </div>
            <div class="auto-layout"><div class="text-wrapper-13">Отправить запрос</div></div>
          </div>
          <div class="text-wrapper-14">Приватность</div>
        </div>
        <div class="main">
          <div class="top-2">
            <div class="logo-2"><img class="image-3" src="https://c.animaapp.com/sRU5GxZu/img/image-30@2x.png" /></div>
            <div class="top-3">
              <div class="section">
                <div class="text-wrapper-15">ИНФОРМАЦИЯ</div>
                <div class="list">
                  <div class="text-wrapper-16">Главная</div>
                  <div class="text-wrapper-17">О нас</div>
                  <div class="text-wrapper-17">Блог</div>
                  <div class="text-wrapper-17">Сервисы</div>
                  <div class="text-wrapper-17">Продукты</div>
                </div>
              </div>
              <div class="section-2">
                <div class="text-wrapper-18">СВЯЖИТЕСЬ С НАМИ</div>
                <div class="list-2">
                  <div class="text-wrapper-19">+7 (977) 777-77-77</div>
                  <div class="text-wrapper-17">hello@logoipsum.com</div>
                  <div class="text-wrapper-17">Россия</div>
                </div>
              </div>
            </div>
          </div>
          <img class="bottom" src="https://c.animaapp.com/sRU5GxZu/img/bottom.svg" />
        </div>
      </footer>
    </div>
  </body>
</html>
