<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--link rel="stylesheet" href=" {{ url_for('static', path='styles/common_part/mainpage.css') }} " /-->
    <link rel="stylesheet" href="../../../app/static//styles/common_part/mainpage.css" />
    <link rel="stylesheet" href="../../../app/static//styles/common_part/header_footer.css" />
    <!--link rel="stylesheet" href="css/style.css" /-->
  </head>
  <body>
  <header class="header">
    <div class="leftselect">
        <div class="h1tag"><img class="lg" src="../../../app/static/assets/apple-touch-icon%20(1).png">
        <h4 class="h1taghead">Главная</h4>
        <h4 class="h1taghead">Проекты </h4>
        <h4 class="h1taghead">О нас</h4></div>
    </div>
<div class="rightselect"></div>
<div class="rs"><select class="header__select">
  <option>RU</option>
  <option>EN</option>
</select>
<input type="text" class="search">
<button class="search-button">
     <img class="searchimg" src="../../../app/static/assets/icons8-поиск.svg"><!-- Используйте иконку из Font Awesome -->
</button>
<button class="voity">Войти</button></div>
  </header>
    <div class="main">
      <div class="div">
        <div class="overlap">
          <div class="text-wrapper">Кейсы</div>
          <div class="overlap-group">
            <div class="overlap-2">
              <div class="view">
                <div class="view-2">
                  <img class="image" src=" {{ url_for('static', path='/assets/6.svg') }} " />
                  <div class="image-wrapper">
                    <img class="img" src="  {{ url_for('static', path='/assets/7@2x.png') }} " />
                  </div>
                </div>
              </div>
              <div class="view-3"></div>
              <img class="star" src=" {{ url_for('static', path='/assets/star-1.svg') }} " />
            </div>
            <div class="view-4">
              <div class="view-5">
                <p class="p">
                  Для уютной кофейни мы разработали стильный и привлекательный сайт, который отражает атмосферу
                  заведения. На главной странице представлены меню, акции и фотогалерея интерьера, что помогает привлечь
                  новых клиентов. Интуитивно понятный интерфейс и
                </p>
                <p class="text-wrapper-2">
                  адаптивный дизайн обеспечивают удобство навигации как на компьютерах, так и на мобильных устройствах.
                </p>
              </div>
              <div class="view-6"><img class="subtract" src="  {{ url_for('static', path='/assets/subtract.svg') }}  " /></div>
              <img class="image-2" src="  {{ url_for('static', path='/assets/5.svg') }} " />
            </div>
          </div>
        </div>
        <div class="text-wrapper-3">price list</div>
        <div class="overlap-group-2">
          <div class="view-wrapper">
            <div class="view-2">
              <img class="image-3" src=" {{ url_for('static', path='/assets/1@2.png') }} " />
              <div class="image-wrapper">
                <img class="image-4" src=" {{ url_for('static', path='/assets/1.svg') }} " />
              </div>
            </div>
          </div>
          <div class="view-7"></div>
        </div>
        <div class="overlap-3">
          <div class="div-wrapper">
            <div class="view-2">
              <img class="image-5" src=" {{ url_for('static', path='/assets/2.svg') }} " />
              <div class="image-wrapper">
                <img class="image-6" src="  {{ url_for('static', path='/assets/3.svg') }} " />
              </div>
            </div>
          </div>
          <div class="view-8"></div>
        </div>
        <div class="view-9">
          <div class="view-10">
            <div class="view-11">
              <div class="view-6">
                <img class="image-7" src="https://c.animaapp.com/khx1X6Rp/img/-----------4.png" />
                <p class="text-wrapper-4">Ваша идея — наш приоритет</p>
              </div>
              <img class="logo" src="https://c.animaapp.com/khx1X6Rp/img/logo.svg" />
            </div>
            <div class="view-12">
              <div class="view-13">
                <div class="view-6">
                  <img class="image-8" src="https://c.animaapp.com/khx1X6Rp/img/-----------.svg" />
                  <div class="text-wrapper-5">Кейсы</div>
                </div>
                <div class="sphere"></div>
                <div class="sphere-orange-glossy-wrapper">
                  <img
                    class="sphere-orange-glossy"
                    src="https://c.animaapp.com/khx1X6Rp/img/sphere-orange-glossy-1@2x.png"
                  />
                </div>
                <div class="sphere-2"></div>
                <img class="image-9" src="https://c.animaapp.com/khx1X6Rp/img/-------------------1.svg" />
                <div class="img-wrapper">
                  <img
                    class="sphere-orange-glossy-2"
                    src="https://c.animaapp.com/khx1X6Rp/img/sphere-orange-glossy-3@2x.png"
                  />
                </div>
              </div>
              <div class="view-6">
                <div class="view-6">
                  <img class="image-10" src="https://c.animaapp.com/khx1X6Rp/img/-----------5.svg" />
                  <div class="text-wrapper-6">Работники</div>
                </div>
                <img class="image-11" src="https://c.animaapp.com/khx1X6Rp/img/-------------------1.svg" />
              </div>
            </div>
          </div>
        </div>
        <div class="frame">
          <div class="div-wrapper-2"><div class="text-wrapper-7">Сотрудники</div></div>
          <div class="div-2">
            <div class="view-14">
              <div class="div-3">
                <div class="view-15">
                  <img class="image-12" src="https://c.animaapp.com/khx1X6Rp/img/--------------.svg" />
                  <img class="image-13" src="https://c.animaapp.com/khx1X6Rp/img/-------------------4.svg" />
                </div>
                <div class="view-16">
                  <div class="view-17">
                    <div class="view-18">
                      <div class="div-3">
                        <img class="image-14" src="https://c.animaapp.com/khx1X6Rp/img/----.svg" />
                      </div>
                    </div>
                    <div class="view-19">
                      <div class="text-wrapper-8">Анна Смирнова</div>
                      <p class="text-wrapper-9">опытный программист, специализирующийся на разработке веб-приложений</p>
                      <div class="text-wrapper-10">опыт 5 лет</div>
                    </div>
                  </div>
                  <div class="view-20">
                    <div class="view-21"><div class="text-wrapper-11" >графический дизайнер</div></div>
                  </div>
                </div>
              </div>
              <div class="div-3">
                <div class="view-15">
                  <img class="image-12" src="https://c.animaapp.com/khx1X6Rp/img/---------------1.svg" />
                  <img class="image-13" src="https://c.animaapp.com/khx1X6Rp/img/-------------------4.svg" />
                </div>
                <div class="view-22">
                  <div class="view-17">
                    <div class="view-18">
                      <div class="div-3">
                        <img class="image-14" src="https://c.animaapp.com/khx1X6Rp/img/-----1.svg" />
                      </div>
                    </div>
                    <div class="view-19">
                      <div class="text-wrapper-8">Дмитрий Иванов</div>
                      <p class="text-wrapper-9">
                        креативный веб-дизайнер, который создает визуально привлекательные и удобные интерфейсы
                      </p>
                      <div class="text-wrapper-10">опыт 6 лет</div>
                    </div>
                  </div>
                  <div class="view-20">
                    <div class="view-21"><div class="text-wrapper-11">Веб-дизайнер</div></div>
                  </div>
                </div>
              </div>
              <div class="div-3">
                <div class="view-15">
                  <img class="image-12" src="https://c.animaapp.com/khx1X6Rp/img/---------------2.svg" />
                  <img class="image-13" src="https://c.animaapp.com/khx1X6Rp/img/-------------------4.svg" />
                </div>
                <div class="view-22">
                  <div class="view-17">
                    <div class="view-18">
                      <div class="div-3">
                        <img class="image-14" src="https://c.animaapp.com/khx1X6Rp/img/-----2.svg" />
                      </div>
                    </div>
                    <div class="view-19">
                      <div class="text-wrapper-8">Ольга Петрова</div>
                      <p class="text-wrapper-9">
                        SEO-специалист, который помогает компаниям улучшать видимость их сайтов в поисковых системах
                      </p>
                      <div class="text-wrapper-10">опыт 4 года</div>
                    </div>
                  </div>
                  <div class="view-20">
                    <div class="view-21"><div class="text-wrapper-11">SEO-специалист</div></div>
                  </div>
                </div>
              </div>
            </div>
            <img class="image-15" src="https://c.animaapp.com/khx1X6Rp/img/-------.svg" />
          </div>
        </div>
        <div class="view-23">
          <div class="view-24">
            <img class="line" src="https://c.animaapp.com/khx1X6Rp/img/line-15.svg" />
            <div class="view-25">
              <div class="view-26"><div class="text-wrapper-12">10 тыс</div></div>
              <div class="view-27"><div class="text-wrapper-13">Заказов</div></div>
            </div>
          </div>
          <div class="view-28">
            <img class="line-2" src="https://c.animaapp.com/khx1X6Rp/img/line-17.svg" />
            <img class="line-3" src="https://c.animaapp.com/khx1X6Rp/img/line-18.svg" />
            <div class="view-29">
              <div class="view-26"><div class="text-wrapper-12">10 тыс</div></div>
              <div class="view-27"><div class="text-wrapper-13">Запущеных сайтов</div></div>
            </div>
          </div>
          <div class="view-30">
            <img class="line-4" src="https://c.animaapp.com/khx1X6Rp/img/line-16.svg" />
            <div class="view-31">
              <div class="view-26"><div class="text-wrapper-12">10 тыс</div></div>
              <div class="view-27"><div class="text-wrapper-13">Положительных озывов</div></div>
            </div>
          </div>
          <div class="view-32">
            <p class="text-wrapper-14">
              Наша компания специализируется на разработке и запуске сайтов с индивидуальным подходом к каждому клиенту.
              Наша команда профессионалов создает не просто красивые, но и функциональные сайты, соответствующие
              уникальным требованиям бизнеса. Мы следим за последними тенденциями в веб-разработке, чтобы предлагать
              современные решения. Выбирая нас, вы получаете надежного партнера, который поможет вам достичь ваших
              бизнес-целей.
            </p>
          </div>
        </div>
        <div class="view-33">
          <div class="view-5">
            <p class="p">
              Для уютной кофейни мы разработали стильный и привлекательный сайт, который отражает атмосферу заведения.
              На главной странице представлены меню, акции и фотогалерея интерьера, что помогает привлечь новых
              клиентов. Интуитивно понятный интерфейс и
            </p>
            <p class="text-wrapper-2">
              адаптивный дизайн обеспечивают удобство навигации как на компьютерах, так и на мобильных устройствах.
            </p>
          </div>
          <div class="view-6"><img class="subtract" src="https://c.animaapp.com/khx1X6Rp/img/subtract-1.svg" /></div>
          <img class="image-2" src="https://c.animaapp.com/khx1X6Rp/img/-------------------7.svg" />
        </div>
        <div class="view-34">
          <div class="view-5">
            <p class="p">
              Для уютной кофейни мы разработали стильный и привлекательный сайт, который отражает атмосферу заведения.
              На главной странице представлены меню, акции и фотогалерея интерьера, что помогает привлечь новых
              клиентов. Интуитивно понятный интерфейс и
            </p>
            <p class="text-wrapper-2">
              адаптивный дизайн обеспечивают удобство навигации как на компьютерах, так и на мобильных устройствах.
            </p>
          </div>
          <div class="view-6"><img class="subtract" src="https://c.animaapp.com/khx1X6Rp/img/subtract-2.svg" /></div>
          <img class="image-2" src="https://c.animaapp.com/khx1X6Rp/img/-------------------7.svg" />
        </div>
        <div class="view-35">
          <div class="view-36">
            <div class="view-37">
              <div class="view-38">
                <div class="view-39">
                  <div class="text-wrapper-15">Сайт под ключ</div>
                  <div class="text-wrapper-16">от 80 тыс</div>
                </div>
                <div class="view-40">
                  <div class="div-2">
                    <div class="view-41"><div class="text-wrapper-17">Корпоративный сайт</div></div>
                    <div class="view-42"><div class="text-wrapper-18">от 150 тыс</div></div>
                  </div>
                  <div class="div-2">
                    <div class="div-wrapper-3"><div class="text-wrapper-17">Интернет-магазин</div></div>
                    <div class="view-42"><div class="text-wrapper-19">от 250 тыс</div></div>
                  </div>
                </div>
              </div>
              <div class="view-43">
                <div class="frame-wrapper">
                  <div class="frame-2"><div class="text-wrapper-20">Дополнительные услуги</div></div>
                </div>
                <div class="frame-3">
                  <div class="frame-4">
                    <div class="div-3"><div class="text-wrapper-21">SEO-оптимизация</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">30 тыс</div></div>
                  </div>
                  <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-23">Поддержка и обновление</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">10 тыс/мес.</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view-44">
          <div class="view-36">
            <div class="view-37">
              <div class="view-38">
                <div class="view-39">
                  <div class="text-wrapper-15">Разработка дизайна</div>
                  <div class="text-wrapper-16">от 20 тыс</div>
                </div>
                <div class="view-40">
                  <div class="div-2">
                    <div class="div-wrapper-3"><div class="text-wrapper-17">Лендинг</div></div>
                    <div class="view-42"><div class="text-wrapper-18">от 150 тыс</div></div>
                  </div>
                  <div class="div-2">
                    <div class="div-wrapper-3"><div class="text-wrapper-17">Многостраничный</div></div>
                    <div class="view-42"><div class="text-wrapper-19">от 250 тыс</div></div>
                  </div>
                </div>
              </div>
              <div class="view-43">
                <div class="frame-wrapper">
                  <div class="frame-2"><div class="text-wrapper-20">Дополнительные услуги</div></div>
                </div>
                <div class="frame-3">
                  <div class="frame-4">
                    <div class="div-3"><div class="text-wrapper-21">Анимация элементов</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">10 тыс</div></div>
                  </div>
                  <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-23">Прототипирование</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">15 тыс</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="view-45">
          <div class="view-36">
            <div class="view-37">
              <div class="view-38">
                <div class="view-39">
                  <div class="text-wrapper-15">Сайт под ключ</div>
                  <div class="text-wrapper-16">от 80 тыс</div>
                </div>
                <div class="view-40">
                  <div class="div-2">
                    <div class="div-wrapper-3"><div class="text-wrapper-17">Frontend</div></div>
                    <div class="view-42"><div class="text-wrapper-18">от 30 тыс</div></div>
                  </div>
                  <div class="div-2">
                    <div class="div-wrapper-3"><div class="text-wrapper-17">Backend</div></div>
                    <div class="element-wrapper"><div class="text-wrapper-19">от 25 тыс</div></div>
                  </div>
                </div>
              </div>
              <div class="view-43">
                <div class="frame-wrapper">
                  <div class="frame-2"><div class="text-wrapper-20">Дополнительные услуги</div></div>
                </div>
                <div class="frame-3">
                  <div class="frame-4">
                    <div class="div-3"><div class="SEO">Интеграция с внешними сервисами</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">20 тыс</div></div>
                  </div>
                  <div class="frame-4">
                    <div class="frame-5"><div class="text-wrapper-23">Тестирование и отладка</div></div>
                    <div class="div-wrapper-3"><div class="text-wrapper-22">15 тыс</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
 
      </div>
    </div>
    
    <footer class="footer">
      <div class="footer-container">
  
        <div class="footer-left">
          <img src="../../../app/static/assets/favicon.svg" alt="IDS Logo" style="position: relative;
          left:-30px;
          width: 150px;height: 100px;color: white;">
          <div class="contact-info">
            <h3>Связаться с нами:</h3>
            <p>+7 977 777-77-77</p>
            <p>support@ids.com</p>
          </div>
          <div class="contact-info">
            <h3>Адреса:</h3>
            <p>Санкт-Петербург, ул. Вязовая, д. 10, офис 49Н</p>
            <p>Москва, ул. Ленинская Слобода, д. 19, оф. 706, БЦ «Омега плаза»</p>
          </div>
          <div class="contact-info">
            <h3>Время работы:</h3>
            <p>пн-пт: 10:00 — 19:00</p>
          </div>
          <div class="social-icons">
            <a href="#" target="_blank"><img src="https://i.imgur.com/9H4Fp1D.png" width="24" height="24" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="https://i.imgur.com/JjR7s13.png" width="24" height="24" alt="Instagram"></a>
            <a href="#" target="_blank"><img src="https://i.imgur.com/vQ0z9q6.png" width="24" height="24" alt="YouTube"></a>
            <a href="#" target="_blank"><img src="https://i.imgur.com/F717z2K.png" width="24" height="24" alt="Twitter"></a>
          </div>
        </div>
  
        <div class="footer-right">
          <div class="form-container">
            <h3>Обсудить проект</h3>
            <p>Для начала работы нам надо поговорить. Достаточно рассказать о своем проекте, указать контакты, и мы свяжемся, чтобы все обсудить.</p>
            <form>
              <div class="form-group">
                <input type="text" id="name" name="name" placeholder="Ваше имя">
              </div>
              <div class="form-group">
                <input type="tel" id="phone" name="phone" placeholder="Номер телефона">
              </div>
              <div class="form-group">
                <input type="email" id="email" name="email" placeholder="Электронная почта">
              </div>
              <div class="form-group">
                <textarea id="message" name="message" placeholder="Расскажите о вашем проекте"></textarea>
              </div>
              <div class="attach-file">
                <label for="file">Прикрепите файл</label>
                <input type="file" id="file" name="file">
              </div>
              <button type="submit" class="butfooter">Отправить заявку</button>
            </form>
          </div>
        </div>
      </div>
    </footer>
  
    <script src="../../../../app/app/static/js/"></script>
  </body>
</html>
