<html>
<head>
 <!--<base href="." />-->
  <title>Drag & Drop Todo List</title>
 <link rel="stylesheet" href="../../../app/static/styles/personal_account/assigned_tasks.css">
</head>
<body>
<div class="container">
  <div class="todo-grid">
    <div class="todo-column" data-column="todo">
      <div class="column-header">To Do</div>
      <div class="items-container">
        <div class="todo-item" draggable="true">Design new landing page</div>
        <div class="todo-item" draggable="true">Update user documentation</div>
        <div class="todo-item" draggable="true">Fix navigation bugs</div>
      </div>
      <input type="text" class="add-todo" placeholder="Add new task...">
    </div>
    
    <div class="todo-column" data-column="in-progress">
      <div class="column-header">In Progress</div>
      <div class="items-container">
        <div class="todo-item" draggable="true">Implement authentication</div>
        <div class="todo-item" draggable="true">Create API endpoints</div>
      </div>
      <input type="text" class="add-todo" placeholder="Add new task...">
    </div>
    
    <div class="todo-column" data-column="done">
      <div class="column-header">Done</div>
      <div class="items-container">
        <div class="todo-item" draggable="true">Setup project structure</div>
        <div class="todo-item" draggable="true">Initial commit</div>
      </div>
      <input type="text" class="add-todo" placeholder="Add new task...">
    </div>
  </div>
</div>

<script src="../../../app/static/js/personal_account/assigned_tasks.js"></script>
</body>
</html>