<html><head><base href=""><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Регистрация</title>
<link rel="stylesheet" href="../../static/styles/admin/registration.css">
</head><body>
  <div class="container">
    <div class="title">Регистрация</div>
    <form class="form" id="registrationForm">
      <div class="input-group">
        <label>Имя</label>
        <input type="text" id="firstName" placeholder="Введите ваше имя" required>
        <div class="error" id="firstNameError">Пожалуйста, введите корректное имя</div>
      </div>

      <div class="input-group">
        <label>Фамилия</label>
        <input type="text" id="lastName" placeholder="Введите вашу фамилию" required>
        <div class="error" id="lastNameError">Пожалуйста, введите корректную фамилию</div>
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" id="email" placeholder="Введите ваш email" required>
        <div class="error" id="emailError">Пожалуйста, введите корректный email</div>
      </div>

      <div class="input-group">
        <label>Пароль</label>
        <input type="password" id="password" placeholder="Введите пароль" required>
        <div class="error" id="passwordError">Пароль должен содержать минимум 8 символов</div>
      </div>

      <div class="input-group">
        <label>Подтвердите пароль</label>
        <input type="password" id="confirmPassword" placeholder="Подтвердите пароль" required>
        <div class="error" id="confirmPasswordError">Пароли не совпадают</div>
      </div>

      <button type="submit" class="button">Зарегистрироваться</button>
    </form>
  </div>

  <script src="../../../../app/app/static/js/admin/registration.js">

  </script>
</body></html>